body {
    background-color: #EEF9BF;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    color: #75B79E;

    margin-top: 40px;

    word-break: break-all;
}

main {
    padding-top: 50px;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.card {
    width: 200px;
    height: 250px;
    position: relative;
  }

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.card:hover .back-face {
    transform: rotateY(0deg);
}

.card:hover .front-face {
    transform: rotateY(-180deg);
}