body {
    background-color: #EEF9BF;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    text-align: center;

    color: #75B79E;

    margin-top: 40px;

    word-break: break-word;
}

main {
    padding-top: 50px;
    flex-wrap: wrap;
}

button {
    width: 250px;
    height: 60px;

    padding: 4px 0;

    margin-top: 100px;

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;

    border: none;
    border-radius: 20px;

    color: #fff;
    background-color: #75B79E;
}

button:hover {
    background-color: #fff;
    border-color: #75B79E;
    color: #75B79E;
    border: solid 1px;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.card {
    width: 200px;
    height: 250px;
    position: relative;

    margin: 17px 17px;
  }

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
    transition-duration: 1s;
}

.card.selected .front-face {
    transform: rotateY(-180deg);
    transition-duration: 1s;
}

.card.selected .back-face {
    transform: rotateY(0deg);
    transition-duration: 1s;
}

.card img {
    height: 65%;
    width: 90%;
}

.hidden {
    display: none;
}